.restaurant-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80rem;
    margin: 1rem auto;
}

.restaurant-container .header {
    color: rgba(2, 6, 12, 0.92);
    font-size: 1.5rem;
    font-weight: 800;
    margin: 1rem auto;
    box-shadow: none;
    padding-left: 1rem;
}

.restaurant-container .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}