.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    width: 100%;
    background-color: #fff;
    height: 5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 3.9rem;
}

.search-bar {

    display: flex;
    align-items: center;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-button {
    background-color: #f8f8f8;
    border-radius: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.nav-container {
    width: 20%;
    display: flex;
    justify-content: space-evenly;

}

.nav-items {
    padding: .5rem 1rem;
    margin: 1rem 0rem;
    position: relative;
}

.nav-items:hover {
    color: #A28089;
}

.link {
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Arial', sans-serif;
    color: #0a0a0a;
    transition: color 0.3s ease;
}

.link:hover {
    color: #A28089;
}

.cart-icon-container {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -1px;
    background: #ff0000;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: .9rem;
}
.location {
    font-size: 13px;
    display: block;
    padding-left: 5px;
    margin-left: 5px;
    color: #686b78;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.location .svg-inline--fa {
    margin-left: 8px;
  }