/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 60px;
    /* Adjust size as needed */
}

.search-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-button {
    background-color: #f8f8f8;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.profile img {
    height: 40px;
    /* Adjust size as needed */
}