.shimmer-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: self-start;
    width: 300px;
    height: 350px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    margin: 2rem;
    padding: 1rem;
    transition: all 0.3s ease;
}

.shimmer-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.shimmer-loader-1 {
    border-radius: 5%;
    width: 50%;
    height: 10%;
    margin: 1rem;
    opacity: .7;
    animation: shimmer-animation 1s linear infinite alternate forwards;
}

.shimmer-loader-2 {
    border-radius: 5%;
    width: 80%;
    background-color: rgb(243, 236, 236);
    margin: 1rem;
    opacity: .7;
    height: 45%;
    animation: shimmer-animation 1s linear infinite alternate forwards;
}

@keyframes shimmer-animation {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}