.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80rem;
    height: 18rem;
    margin: 1rem auto;
    border-bottom: 1px solid rgb(230, 226, 226);
}

.carousel-container .header {
    color: rgba(2, 6, 12, 0.92);
    font-size: 1.5rem;
    font-weight: 800;
    box-shadow: none;
    padding-left: 1rem;
}

.carousel-container .content {
    display: flex;
    justify-content: center;
    width: 80rem;
    height: 300px;
    overflow-y: auto;
    padding: 5px;
}

.carousel-container .content::-webkit-scrollbar {
    display: none;
    object-fit: cover;
}

.carousel-container .image img {
    width: 8rem;
    height: 10rem;
    overflow: clip;
    object-fit: cover;
    border-style: none;
}