.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80rem;
    height: 18rem;
    margin: 1rem auto;
    border-bottom: 1px solid rgb(230, 226, 226);
}

.carousel-container .header {
    color: rgba(2, 6, 12, 0.92);
    font-size: 1.5rem;
    font-weight: 800;
    box-shadow: none;
    padding-left: 1rem;
}
.header .scroll-arrow {
    font-size: 15px;
    width: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scroll-arrow .svg-inline--fa{
    background-color: rgb(247, 244, 244);
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-container .carousel {
    display: flex;
    justify-content: center;
    width: 80rem;
    height: 300px;
    overflow-y: auto;
    padding: 5px;
    position: relative;
}

.carousel-container .carousel::-webkit-scrollbar {
    display: none;
    object-fit: cover;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-container .image img {
    width: 8rem;
    height: 10rem;
    overflow: clip;
    object-fit: cover;
    border-style: none;
}